# Scrambler definitions, for jammers and back of Enigma

1
ABCDEFGHIJKLMNOPQRSTUVWXYZ
EMSQKCXAZNJWFVTOGBIURPDHYL

2
ABCDEFGHIJKLMNOPQRSTUVWXYZ
KGHFXAUBPRQNCMSTIDZWVOLJYE

3
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ONFJKEVLBGAQURXIPHCSWDYZTM

4
ABCDEFGHIJKLMNOPQRSTUVWXYZ
NSWCMAGVYZTRDILEHPJUXKBQOF

5
ABCDEFGHIJKLMNOPQRSTUVWXYZ
QFAJPRVHGNDBIMZWXLCKSUYTEO

6
ABCDEFGHIJKLMNOPQRSTUVWXYZ
OEJRYNKGLZFQVBAHPDMXCTIWUS

# For the back
7
ABCDEFGHIJKLMNOPQRSTUVWXYZ
YXKSIMLVEQCGFONWJTDRZHPBAU

8
ABCDEFGHIJKLMNOPQRSTUVWXYZ
VXRZSWPLMNQHIJUGKCEYOAFBTD

# Identity
9
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABCDEFGHIJKLMNOPQRSTUVWXYZ

