# Scrambler (for jammers & back) definition for Enigma

# Scrambler1
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ZABCDEFGHIJKLMNOPQRSTUVWXY

# Scrambler2
ABCDEFGHIJKLMNOPQRSTUVWXYZ
BADCFEHGJILKNMPORQTSVUXWZY

# Scrambler3
ABCDEFGHIJKLMNOPQRSTUVWXYZ
MLKJIHGFEDCABZYXWVUTSRQPON

# Scrambler4
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ZAYBXCWDVEUFTGSHRIQJPKOLNM

