# Scrambler (for jammers & back) definition for Enigma

1
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ZABCDEFGHIJKLMNOPQRSTUVWXY

2
ABCDEFGHIJKLMNOPQRSTUVWXYZ
BADCFEHGJILKNMPORQTSVUXWZY

3
ABCDEFGHIJKLMNOPQRSTUVWXYZ
MLKJIHGFEDCABZYXWVUTSRQPON

4
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ZAYBXCWDVEUFTGSHRIQJPKOLNM

